<div class="text-center">
<h1>New sketch</h1>
<div class='col-2 offset-5'>
<div class="form-group">
<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Back to sketches", articles_path %>
</div>
</div>
</div>
</div>
